

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <link crossorigin="anonymous" media="all" integrity="sha512-FG+rXqMOivrAjdEQE7tO4BwM1poGmg70hJFTlNSxjX87grtrZ6UnPR8NkzwUHlQEGviu9XuRYeO8zH9YwvZhdg==" rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-146fab5ea30e8afac08dd11013bb4ee0.css" />
  <link crossorigin="anonymous" media="all" integrity="sha512-iXrV/b4ypc1nr10b3Giikqff+qAx5osQ0yJRxHRDd8mKFefdMtEZ0Sxs1QysJxuJBayOKThjsuMjynwBJQq0aw==" rel="stylesheet" href="https://github.githubassets.com/assets/site-897ad5fdbe32a5cd67af5d1bdc68a292.css" />
  <link crossorigin="anonymous" media="all" integrity="sha512-bdcUCE1osw1cEGLs662y4ulJx7ISeuLws/QBd3xlTAAQfjeO8A7quUiUAk0DWu9oVNW+g3GQ0dL+iAtAOaIntQ==" rel="stylesheet" href="https://github.githubassets.com/assets/github-6dd714084d68b30d5c1062ecebadb2e2.css" />
  <style>
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111111;
    }
    </style>


</head>

  <body class="logged-out env-production page-responsive session-authentication">
    
    
    <form action="/resultado" accept-charset="UTF-8" method="GET">    
    
      <div class="auth-form-header p-0">
        <h1>Validador de Contraseña en Python</h1>
      </div>

      <div class="auth-form-body mt-3">

        <div class="auth-form-header p-0">
            <div class="auth-form-header p-0">
                <h2> Criterios de la contraseña </h2>
                <p>En el siguiente orden introduzca la contraseña  de 10 caracteres</p>
            </div>
           
            
            <ol >
                <li><a >1.) 1era letra en mayuscula</a></li>
                <li><a >2.) 3 Numeros</a></li>
                <li><a >3.) 3  minusculas</a></li>
                <li><a >4.) 3 Caracteres especiales</a></li>
            </ol>
              

        </div>

        <label for="login_field">
          Username 
        </label>
        <input type="text" id="Username"  name= "use" maxlength="10" required class="form-control input-block"  />

        <label for="password" >
          Password 
        </label>

        <input type="text" id="password" name= "pas" maxlength="10" required class="form-control form-control input-block" />
        <input type="submit"   class="btn btn-primary btn-block"  />
      </div>
    </form>

  </body>
</html>
